<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/images/logo/ucb.png" alt="logo">
        <span>UCB-ONLINE</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <div class="flex align-items-center">
            <p-chip [label]="username | titlecase" icon="pi pi-user" styleClass="mr-2 custom-chip"></p-chip>
        </div>
        <a (click)="logout()" class="p-link layout-topbar-button">
            <i class="pi pi-power-off"></i>
            <span>Salir</span>
        </a>
    </div>
</div>